@{
  Layout = "_Layout";
}

@using ClairesHairCare
@using ClairesHairCare.Models.Stylist

<h2>Stylist Details</h2>
<hr />
<h3>Name: @Html.DisplayFor(model => model.StylistName)</h3>

<ul>
  @foreach (Client client in model.Clients)
  {
    <li>@Html.ActionLink($"{Clients.ClientsName}", "Details", "Stylists", new { id = client.ClientId})</li>
  }
</ul>

<p>@Html.ActionLink("Edit Stylist", "Edit", new { id = Model.StylistId})</p>
<p>@Html.ActionLink("Delete Stylist", "Delete", new { id = Model.StylistId})</p>
<p>@Html.ActionLink("Back to Stylist List", "Index")</p>