@{
  Layout = "_Layout";
}

@model ClairesHairCare.Models.Client

<h4>Add Client to the directory</h4>
<img alt="80s salon poster" src="~/css/ClairesSalon.jpg">

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.ClientName)
  @Html.TextBoxFor(model => model.ClientName)

  @Html.LabelFor(model => model.Description)
  @Html.TextBoxFor(model => model.Description)

    @Html.LabelFor(model => model.Appointment)
        @Html.TextBoxFor(model => model.Appointment, new { @type = "date", @required="required" })

  @Html.DropDownList("StylistId")
  <input type="submit" value="add new client" />
}

<p>@Html.ActionLink("Show all Clients", "Index")</p>
